header.main-header
	nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
		.container
			a.navbar-brand(href='index.html')
				img(src='./assets/img/main-header/main-logo.png' width='217' height='43' alt='Логотип SquaDrone' loading='lazy')
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse.justify-content-lg-end
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href='index.html') Главная
					li.nav-item
						a.nav-link(href='services.html') Услуги
					li.nav-item
						a.nav-link(href='operators.html') Для операторов услуг
					li.nav-item.user-nav-item
						a.nav-link(href='sign-in.html') Регистрация/Вход
