section.pop-services-area
	.container
		.row.justify-content-center
			.col-12
				h2 Популярные услуги
		.row.pop-services-list
			.col-12.col-sm-6.col-lg-3.pop-services-item
				.pop-services-item_content
					img.pop-services-item_image(src='./assets/icons/copter-dark.svg' alt='')
					h3 Фото- и видеосъемка с квадрокоптера
			.col-12.col-sm-6.col-lg-3.pop-services-item
				.pop-services-item_content
					img.pop-services-item_image(src='./assets/icons/360-dark.svg' alt='')
					h3 Панорама 360
			.col-12.col-sm-6.col-lg-3.pop-services-item
				.pop-services-item_content
					img.pop-services-item_image(src='./assets/icons/map-dark.svg' alt='')
					h3 Картография
			.col-12.col-sm-6.col-lg-3.pop-services-item
				.pop-services-item_content
					a.pop-services-item_link(href='services.html') Другие услуги
		.row.justify-content-center
			a.btn.btn-warning(href='services.html') Выбрать услугу
